*, ::before, ::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
    font-family: Montserrat;
}
/*--------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
._sub-title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
}
._text {
    max-width: 587px;
    font-weight: 500;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
    text-align: center;
    margin: 10px 0px;
}  
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
}
.main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
.page-services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}

/*---HEADER-----------------------------------*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 104px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header_logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: inherit;
}
.navigation_menu {
    margin: 0px 0px 0px 133px;
}
@media (max-width: 1023px) {
    .navigation_menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 849px) {
    .navigation_menu {
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width: 479px) {
    .navigation_menu {
        margin: 5px auto;
    }
    .menu_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.menu {
    padding: 5px 0px;
}
.menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.menu_item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}
.menu_links {
    color: #737373;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: calc(24 / 14 * 100%);
}
.menu_links:hover {
    color: #FF7B47;
}
@media (max-width: 849px) {
    .menu_links {
        color: #161515;
    }
}

/*---MAIN--PAGE-BLOCK-----------------------------------*/
.main_page-block {
    position: relative;
}
.page-block_body {
    padding: 184px 0px 197px 0px;
    max-width: 400px;
    position: relative;
    z-index: 2;
}
.page-block_body > *:not(:last-child) {
    margin: 0px 0px 35px 0px;

}
.page-block_title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
    letter-spacing: 0.2px;
}
@media (max-width: 414px) {
    .page-block_title {
        font-size: 50px;
        line-height: calc(80 / 50 * 100%);
    }
}
@media (max-width: 360px) {
    .page-block_title {
        font-size: 45px;
    }
}
@media (max-width: 326px) {
    .page-block_title  {
        font-size: 40px;
    }
}
@media (max-width: 280px) {
    .page-block_title {
        font-size: 35px;
    }
}
.page-block_text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}
@media (max-width: 849px) {
    .page-block_text {
        color: #161515;
    }
}
.page-block_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -10px 0px; 
}
.page-block_btn1 { 
    min-height: 48px;
    background: #FF7B47;
    border-radius: 37px;
    font-weight: 700;
    line-height: calc(28 / 14 * 100%);
    letter-spacing: 0.2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 36px;
    margin: 10px 0px;
}
.page-block_btn1:hover {
    background-color: #0D5C63;
}
@media (max-width: 479px) {
    .page-block_btn1, .page-block_btn2  {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }
    .page-block_btn1 {
        margin-left: 10px;
    }
}
.page-block_btn2 {
    min-height: 48px;
    border: 1px solid #0D5C63;
    border-radius: 37px;
    font-weight: 700;
    line-height: calc(28 / 14 * 100%);
    letter-spacing: 0.2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #0D5C63;
    padding: 10px 36px;
    margin: 10px 0px;
}
.page-block_btn2:hover {
    color: #FF7B47;
}
.page-block_btn2 {
    margin-left: 10px;
}
.page-block_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1440px) {
    .page-block_image img {
        -o-object-position: right;
           object-position: right;
    }
}
@media (max-width: 849px) {
    .page-block_image img {
        opacity: 0.5;
    }
}

/*---MAIN--PAGE-SERVICED--------------------------------*/
.services_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.services_item {
    max-width: 30%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #FFFFFF;
    padding: 35px 40px;
    margin-right: 30px;
    text-align: center;
}
@media (max-width: 1063px) {
    .services_box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .services_item {
        max-width: 800px;
        width: 100%;
        margin: 0px auto 30px auto;
    }
}
.item-colum_color {
    background-color: #0D5C63;
    color: #FFFFFF;
}
.item-colum_color p {
    color: #FFFFFF;
}
.item-services_title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    letter-spacing: 0.1px;
    margin: 10px 0px;
}
.item-services_text {
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
    margin: 10px 0px;
}

/*---MAIN--BENEFITS---------------------------------*/
.page-benefits {
    margin: 80px auto;
}
.page-benefits_items {
    margin: 20px 0px 50px 0px;
}
.item_benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 977px) {
    .item_benefits {
        max-width: 550px;
        width: 100%;
        margin: 0px auto;
    }
}
@media (max-width: 685px) {
    .item_benefits {
        max-width: 550px;
        width: 100%;
        margin: 0px auto;
    }
}
@media (max-width: 521px) {
    .item_benefits {
        max-width: 550px;
        width: 90%;
        margin: 0px auto;
    }
}
@media (max-width: 311px) {
    .item_benefits {
        width: 105%;
        margin: 0px auto;
    }
}
.item_sub-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 40px;
}
.item_sub-benefits-icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.item_sub-benefits_title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 10px 0px;
}
.item_sub-benefits_text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.1px;
    color: #737373;
    margin: 10px 0px;
}

/*---MAIN--TEAM---------------------------------*/
.page-team_title {
    margin-top: 125px;
}
@media (max-width: 977px) {
    .page-team_title {
        margin-top: -30px;
    }
}
.page-team_contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 102px 0px;
}
@media (max-width: 949px) {
    .page-team_contant {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .contant-box1 {
        margin: -25px auto 50px auto;
    }
}
.contant-box1 {
    position: relative;
}
@media (max-width: 624px) {
    .contant-box1 img {
        margin: 0px auto;
        max-width: 100%;
        width: 100%;
    }
    .box1-btn, .span-btn {
        max-width: 100%;
        width: 25%;
        margin: 0px auto;
    }
}
.box1-btn {
    position: absolute;
    width: 98px;
    height: 98px;
    left: calc(50% - 98px/2 + 0.3px);
    top: calc(50% - 98px/2 + 0.2px);
    background: #0D5C63;
    border-radius: 73.6px;
    cursor: pointer;
}
.span-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.contant-box2 {
    margin-left: 120px;
}
@media (max-width: 1066px) {
    .contant-box2 {
        margin-left: 40px;
    }
}
.box2-item1 {
    margin-bottom: 30px;
}
.box2-item1_sub-title {
    text-align: left;
}
.box2-item1_text {
    text-align: left;
}
.box2-item2_icon1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px;
}
.icon1_text, .icon2_text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 0px 0px 5px 20px;
}
.icon1_sub-text, .icon2_sub-text {
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0px 0px 5px 20px;
}
.box2-item2_icon2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

/*---PAGE--CLIENTS---------------------------------*/
.page-clients {
    padding: 50px 0px;
    margin: 0px 0px 10px 0px;
}
@media (max-width: 949px) {
    .page-clients {
        margin: -80px 0px;
    }
}
.clients_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.clients_item {
    padding: 8px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.6667%;
            flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}
.clients_item img {
    max-width: 100%;
}
/*---PAGE--SUBSCRIBE---------------------------------*/
.page-subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;
    margin-top: 50px;
}
.page-subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 77px;
    background-color: #252B42;
}
.subscribe_body {
    position: relative;
    z-index: 2;
    background-color: #17213C;
    margin: 0px 30px;
    padding: 30px 50px;
}
@media (min-width: 810px) {
    .subscribe_body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media (max-width: 479px) {
    .subscribe_body {
        margin: 0px -15px;
    }
}
.subscribe_title {
    max-width: 266px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
@media (max-width: 810px) {
    .subscribe_title {
        margin: 0px 0px 20px 0px;
    }
}
@media (max-width: 455px) {
    .subscribe_title {
        font-size: 18px;
    }
}
.subscribe_form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.subscribe_input {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    padding: 15px 22px;
}
.subscribe_btn {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    min-width: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 22px;
    cursor: pointer;
}
.subscribe_btn:hover {
    background-color: #0D5C63;
}
/*---PAGE--CET-IN-TOUCH---------------------------------*/
.page-getInTouch {
    background-color: #F3F3F3;
    padding: 80px 0px 135px 0px;
}
.getInTouch_title {
    margin: 0px 0px 80px 0px;
}
.getInTouch_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 30px;
}
@media (max-width: 779px) {
    .getInTouch_items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .getInTouch_item, .item_color {
        max-width: 100%;
        width: 100%;
    }
    .getInTouch_item_emails {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.getInTouch_item {
    max-height: 327px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 15px;
    background-color: #FFFFFF;
}
.item_color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #252B42;
    padding: 80px 15px;
    align-items: center;
}
.getInTouch_item_emails {
    padding: 15px 0px 0px 0px;
    text-align: center;
}
.getInTouch_item_email {
    font-style: normal;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #252B42;
}
@media (max-width: 330px) {
    .getInTouch_item_email {
        font-size: 11px;
    }
    .getInTouch_item_btn {
        font-size: 12px;
    }
}
.getInTouch_item_email:hover {
    color: #FF7B47;
}
.email-item_color {
    color: #FFFFFF;
}
.getInTouch_item_label {
    padding: 15px 0px 0px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
}
.label_color {
    color: #FFFFFF;
}
.getInTouch_item_btn {
    min-width: 160px;
    min-height: 44px;
    margin: 15px 0px 0px 0px;
    border: 1px solid #FF7B47;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 600;
    line-height: 171%;
    padding: 5px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.2px;
    color: #FF7B47;
}
.getInTouch_item_btn:hover {
    color: #FFFFFF;
    background-color: #0D5C63;
    border: none;
}
.color_btn {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
}
.color_btn:hover {
    background-color: #FF7B47;
    border: none;
}

/*---PAGE--CONTACT-US--------------------------------*/
.contact_us-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 35px;
}
@media (max-width: 779px) {
    .contact_us-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: -20px;
    }
    .body_text, .body_sub-title {
        text-align: center;
    }
    .body_btn {
        margin-top: -20px;
    }
}
.body_sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 40px 0px 5px 0px;
}
.body_text {
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 5px 0px 40px 0px;
}
.body_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 40px;
    color: #FFFFFF;
    max-height: 58px;
    background-color: #FF7B47;
    border-radius: 5px;
    cursor: pointer;
}
.body_btn:hover {
    background-color: #0D5C63;
}
/*---FOOTER-----------------------------------*/
.footer_about {
    background-color: #17213C; 
}
@media (max-width: 779px) {
    .footer_about {
        margin-top: 20px;
    }
}
.container_info-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0px;
    margin-right: 50px;
}
.info-links_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px 30px;
}
.item_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 20px 0px;
}
.item_link {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 10px 0px;
}
.item_link:hover {
    color: #FF7B47;
}
.info-links_adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px 0px 35px 30px;
}
@media (max-width: 1053px) {
    .info-links_adress {
        margin-top: 40px;
    }
}
@media (max-width: 805px) {
    .col4 {
        margin-top: 40px;
    }
}
@media (max-width: 633px) {
    .info-links_adress, .col3, .col4 {
        margin-top: 40px;
    }
    .col1, .col2, .col3, .col4 {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        margin-left:70px;
    }
}
@media (max-width: 504px) {
    .col2 {
        margin-top: 40px;
    }
}
.adress_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.adress_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0px;
}
.address {
    margin-left: 10px;
    color: #FFFFFF;
}
.address_link:hover {
    color: #FF7B47;
}
.social-logo_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 669px) {
    .social-logo_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer_span {
        text-align: center;
        margin-right: 30px;
    }
}
.footer_span {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 25px 0px;
    margin-left: 30px;
}
.social_logo {
    margin-right: 10px;
}
@media (max-width: 669px) {
    .social_logo {
        margin: 0px -10px 20px 0px;
    }
}
.social_logo img {
    margin: 0px 20px 0px 0px;
}